<%= form_for(@alumniprofile) do |f| %>
  <% if @alumniprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumniprofile.errors.count, "error") %> prohibited this alumniprofile from being saved:</h2>

      <ul>
      <% @alumniprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :yop %><br />
    <%= f.text_field :yop %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :jobprofile %><br />
    <%= f.text_field :jobprofile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
