<h1>Editing user</h1>

<%= render 'form' %>
<div class="field">  
<%= f.label :type %><br />  
<%= f.select :type, ["Student", "Alumni", "Faculty"] %>  
</div>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

