<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Type:</b>
  <%= @user.type %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Next', new_studentprofile_path %>
