<h1>Alumni#index</h1>
<h1>Listing alumniprofiles</h1>

<table>
  <tr>
    <th>Yop</th>
    <th>Company</th>
    <th>Jobprofile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alumniprofiles.each do |alumniprofile| %>
  <tr>
    <td><%= alumniprofile.yop %></td>
    <td><%= alumniprofile.company %></td>
    <td><%= alumniprofile.jobprofile %></td>
    <td><%= link_to 'Show', alumniprofile %></td>
    <td><%= link_to 'Edit', edit_alumniprofile_path(alumniprofile) %></td>
    <td><%= link_to 'Destroy', alumniprofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alumniprofile', new_alumniprofile_path %>
<p>Find me in app/views/alumni/index.html.erb</p>
