<h1>Editing studentprofile</h1>

<%= render 'form' %>
<div class="field">  

<%= f.label :type %><br />  

<%= f.select :type, ["Cr","Student"] %>  

</div> 

<%= link_to 'Show', @studentprofile %> |
<%= link_to 'Back', studentprofiles_path %>
