<h1>Faculty#index</h1>
<h1>Listing facultyprofiles</h1>

<table>
  <tr>
    <th>Dept</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facultyprofiles.each do |facultyprofile| %>
  <tr>
    <td><%= facultyprofile.dept %></td>
    <td><%= link_to 'Show', facultyprofile %></td>
    <td><%= link_to 'Edit', edit_facultyprofile_path(facultyprofile) %></td>
    <td><%= link_to 'Destroy', facultyprofile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Facultyprofile', new_facultyprofile_path %>
<p>Find me in app/views/faculty/index.html.erb</p>
